<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
    <div class="container">

        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Company</h1>
                <p class="mb-20">About</p>
                <p class="mb-20">Blog</p>
                <p class="mb-20">Jobs</p>
                <p class="mb-20">Press</p>
                <p class="mb-20">Partners</p>
            </div>
            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Solutions</h1>
                <p class="mb-20">Marketing</p>
                <p class="mb-20">Analytics</p>
                <p class="mb-20">Commerce</p>
                <p class="mb-20">Insights</p>
                <p class="mb-20">Support</p>
             </div>
             <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Documentation</h1>
                <p class="mb-20">Guides</p>
                <p class="mb-20">API</p>
            </div>
            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Legal</h1>
                <p class="mb-20">Claim</p>
                <p class="mb-20">Privacy</p>
                <p class="mb-20">Terms</p>
            </div>
        </div>
        <div class="pt-10 text-center text-gray-600">
            <p>&copy; 2024 Company All Rights Reserved.</p>
            <p class="text-white">Made with &hearts; By mR.AbhiS.</p>
            <p>
                <a class="text-gray uderline" target="_blank" rel="noopener" rel="noreferrer">
                    www.e-shop.com
                </a>
            </p>
        </div>
    </div>
</div>