<div class="container">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full" src="https://img.faballey.com/images/Product/TOP07077Z/2.jpg" alt="">
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">mR.AbhiS</p>
                    <p class="opacity-70"> May 23, 2024</p>
                </div>
                <div>
                    <app-star-rating></app-star-rating>
                </div>
                <p>Nice Product I like This...</p>
            </div>
        </div>
    </div>
</div>