<div class="box">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="flex items-center w-full"> 
                <img class="w-[5rem] h-[5rem] object-cover object-top" src="https://rukminim2.flixcart.com/image/612/612/xif0q/shirt/t/f/s/l-rk-k-st52-metronaut-original-imagzmej4dfswghs.jpeg?q=70" alt="">
                <div class="ml-5">
                    <p class="font-semibold text-lg">product title</p>
                    <p class="text-sm text-gray-400">Size:M</p>
                    <p class="text-sm text-gray-400">Color:Blue</p>
                </div>
            </div>    
        </div>
            <div class="col-span-1">
                <p class="font-semibold text-lg">Rs.395</p>
                
            </div>
            <div class="col-span-2">
                <p class="font-semibold text-lg">Expected Delivery On Mar 03</p>
                <p class="text-sm">Your Item Has Been Delivered</p>
            </div>

    </div>
</div>